


<div class="text-center">
    
    <h4>Date and time</h4>
    @foreach (var s in ViewBag.Datetimes)
    {
           <p>@s</p>
    }
    <h4>Numbers</h4>
    @foreach (var  n in ViewBag.Numbers)
    {
        <p>@n</p>
    }
    <h4>Units of Measure</h4>
    @foreach (var m in ViewBag.UoM)
    {
        <p>@m</p>
    }
</div>
